<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Update Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
    <h1>Update Admin</h1>
    <hr>
    <br />
    <form action="#" th:action="@{/saveAdmin}" th:object="${admin}"
          method="post">
         <div class="form-group row">
			<label for="Id" class="col-sm-2 col-form-label">Admin Id</label>
			<div class="col-sm-3">				
				<input type="text" th:field="*{admin_id}" class="form-control" readonly="readonly"/>
			</div>
		</div>
        <div class="form-group row">
			<label for="Name" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-3">				
				<input type="text" th:field="*{name}" class="form-control"/>
			</div>
		</div>		
		<div class="form-group row">
			<label for="Email" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-3">				
				<input type="text" th:field="*{email}" class="form-control"/>
			</div>
		</div>
		<div class="form-group row">
			<label for="Password" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-3">				
				<input type="password" th:field="*{password}" class="form-control"/>
			</div>
		</div>	
		<button type="submit" class="btn btn-info btn-sm mb-3">Update</button> 	      
    </form>
</div>
</body>
</html>