<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Enrollment Details</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
	<div class="container my-2">
		<h1>Users Enrollment List</h1>
		<hr>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
						<tr>
							<th>Enrollment Id</th>
							<th>User Id</th>
							<th>UserName</th>
							<th>Course Id</th>
							<th>Course Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="enroll : ${listEnrolls}">
							<td th:text="${enroll.enroll_id}">Course ID</td>
							<td th:text="${enroll.user_id}">User ID</td>
							<td th:text="${enroll.name}">User Name</td>
							<td th:text="${enroll.course_id}">Course ID</td>
							<td th:text="${enroll.c_name}">Course Name</td>
							<td>
								<a th:href="@{'/getCourse/' + ${enroll.course_id}}"
									class="btn btn-info btn-sm mb-3">View Details</a>
								&nbsp;&nbsp;&nbsp;
								<a th:href="@{'/unEnroll/' + ${enroll.enroll_id}}"
									class="btn btn-info btn-sm mb-3">UnEnroll</a>
							</td>
						</tr>
					</tbody>
		</table>
		<a href="/newUser" class="btn btn-info btn-sm mb-3">Create New User</a>
	</div>

</body>

</html>