<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Contact Profile</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
	<div class="container my-5">
		<h1>Contact Details</h1>
		<hr>
		<br />
		<div class="table-responsive-sm">
			<table class="table table-borderless">
				<tbody>
					<tr>
						<td>User ID</td>
						<td th:text="${contact.user_id}">User ID</td>
					</tr>
					<tr>
						<td>Contact ID</td>
						<td th:text="${contact.contact_id}">Contact ID</td>
					</tr>
					<tr>
						<td>Name</td>
						<td th:text="${contact.name}">Name</td>
					</tr>
					<tr>
						<td>Phone Number</td>
						<td th:text="${contact.phone_no}">Phone Number</td>
					</tr>
					<tr>
						<td>Email</td>
						<td th:text="${contact.email}">Email</td>
					</tr>
					<tr>
						<td>Message</td>
						<td th:text="${contact.message}">Message</td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{'/editContact/' + ${contact.user_id}}" class="btn btn-info btn-sm mb-3">Update</a>
			&nbsp;&nbsp;&nbsp;
			<a th:href="@{'/deleteContact/' + ${contact.user_id}}" class="btn btn-info btn-sm mb-3">Delete</a>
		</div>
	</div>
</body>

</html>