<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="css/login.css">
	
</head>

<body>
	<div class="container my-5">
		<h1>Welcome to E-Learning Portal</h1>
		<hr>

		<a th:href="@{/login}" class="btn btn-dark btn-sm mb-3">Login</a> <br>
		
		<a th:href="@{/newUser}" class="btn btn-dark btn-sm mb-3">New User</a> <br>
		
	</div>

</body>

</html>