<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="css/login.css">
	
</head>

<body>
	<div class="container my-5">
		<h1>Logged Out</h1>
		<hr>
		<p> <b th:text="${notFound}">invalid data</b> <span>&#128533;</span></p>
		<br>
		<a th:href="@{/login}" class="btn btn-dark btn-sm mb-3">Please Login Again</a> <br>

	</div>

</body>

</html>